.parent_register {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .right_register {
    width: 70%;
  }
  
  .title_spark {
    display: flex;
    padding-top: 2vw;
    padding-left: 3vw;
    gap: 5px;
    font-family: Plus Jakarta Sans;
    color: #000000;
  }
  .title_spark img {
    height: 2vw;
    width: 2vw;
  }
  
  .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form_register {
    width: 25vw;
  }
  
  .registerTitle {
    font-family: Poppins;
    letter-spacing: -2px;
    font-size: 3vw;
    font-weight: 800;
  }
  
  .formTitle {
    font-family: Poppins;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5vh;
  }
  .formTitle p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .formTitle a {
    font-size: 0.8rem;
    color: #28a263;
  }
  
  .form {
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  
  .formFields label {
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 400;
    color: #666666;
  }
  
  .formFields input {
    width: 100%;
    padding: 0.5vw;
    border-radius: 10px;
    outline: none;
    border: 1px solid #66666659;
  }
  
  .termsCondition {
    display: flex;
    width: 20vw;
    gap: 5px;
    color: #3d3d3d;
  }
  .termsCondition input {
    cursor: pointer;
  }
  
  .termsCondition p {
    font-size: 11px;
    font-family: Poppins;
    font-weight: 400;
  }
  
  .createBtn {
    background-color: #28a263;
    padding: 10px;
    font-family: Poppins;
    font-size: 15px;
    color: #ffffff;
    border-radius: 28px;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }
  .createBtn:hover {
    background-color: #1e7c4d;
  }
  
  .footer_register {
    margin-top: 2vh;
    text-align: center;
  }
  .left_register {
    width: 30%;
    height: 100%;
  }
  .left_register img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  @media screen and (max-width: 600px) {
    .left_register {
      display: none;
    }
    .right_register {
      width: 100%;
      padding: 2vh;
    }
    .title_spark {
      display: flex;
      align-items: center;
      padding-left: 0.5vw;
    }
    .title_spark img {
      height: 5vw;
      width: 5vw;
    }
    .title_spark h2 {
      font-size: 1rem;
    }
    .register {
      display: flex;
      align-items: start;
      margin-top: 3vh;
    }
  
    .register p {
      font-size: 1.5rem;
      letter-spacing: -1.22px;
    }
    .form_register {
      width: 90vw;
      padding-left: 3vw;
      padding-right: 3vw;
    }
    .formTitle {
      margin-top: 2vh;
    }
    .formTitle p {
      font-size: 1rem;
    }
    .formTitle a {
      font-size: 0.6rem;
    }
  
    .formFields label {
      font-size: 0.7rem;
    }
    .formFields input {
      width: 100%;
      padding: 8px;
    }
    .termsCondition {
      width: 80vw;
    }
  
    .termsCondition p{
      font-size: 13px;
    }
    .createBtn {
      padding: 8px;
      font-size: 13px;
    }
    .footer_register{
      margin-top: 5vh;
      font-size: 0.6rem;
    }
  }